/*Smooth scrolling*/
    #wrap{
    width: 960px;
    margin: 0 auto; 
}
html {
    scroll-behavior: smooth;
}

/*Whole page*/
body {
    /*backround gradiend(prelijevanje boje pozadine)*/
    background: linear-gradient(to bottom,
            rgb(244, 248, 236),
            rgb(210, 190, 255));
    /*Main font*/
    font-family: 'Poppins', sans-serif;
    /*Text color*/
    color: rgb(24, 23, 24);
    /*Space around*/
    margin: 30px;

}

/*Main heading*/
h1 {
    /*elegant font*/
    font-family: 'Playfair Display', serif;
    background-color: rgb(170, 140, 225);
    /*Text color*/
    color: rgb(235, 237, 228);
    /*For the center text*/
    text-align: center;
    /*Inner spacing*/
    padding: 25px;
    /*For rounded corners(da se zaokrive ivice)*/
    border-radius: 25px;
    /*Border(ivica)*/
    border: 3px solid rgb(132, 99, 232);
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Playfair Display', serif;
    background-color: rgb(230, 220, 255);
    /*Text color*/
    color: rgb(101, 70, 180);
    /*Padding(razmak izmedju iznad i ispod sadrzaja)*/
    padding: 12px;
    /*Decorative border*/
    border-left: 8px solid rgb(120, 90, 210);
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgb(96, 84, 114);
    margin-top: 40px;

}

/*paragraphs*/
p {
    font-size: 17px;
    /*Space between lines*/
    line-height: 1.8;
    /*Justifyied text*/
    text-align: justify;
    font-style: italic;
    font-weight: bold;

}

/*first letter effect*/
p::first-letter {
    font-size: 24px;
    font-weight: bold;
    color: rgb(120, 90, 210);

}

/*Horizontal line*/
hr {
    border: 2px solid rgb(170, 140, 255);
    margin: 35px;
}

/*Figure*/
figure {
    text-align: center;
}

/*Images*/
img {
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(122, 110, 153);
    /*smooth effect*/
    transition: 0.4s;
}

/*Captions*/
figcaption {
    margin-top: 8px;
    font-style: italic;
    color: rgb(90, 90, 90);
}

/*All lists*/
ul,
ol {
    background-color: rgb(255, 255, 255);
    border: 2px dashed rgb(170, 140, 225);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 10px rgb(100, 100, 100);
}

/*List items*/
li {
    margin-bottom: 10px;
}

/*Links*/
/*Makes links look like buttons*/
a {
    display: inline-block;
    background-color: rgb(170, 140, 225);
    color: rgb(255, 255, 255);
    /*Makes the text bold(podebljava)*/
    font-weight: bold;
    /*inner spacing*/
    padding: 12px 20px;
    border-radius: 15px;
    /*Space above(razmak iznad)*/
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration:none;
    border:3px dotted rgb(101, 70, 180);
}

/* Link hover effect (efekat kada pređemo mišem preko linka) */
a:hover {
  background-color: rgb(170, 140, 225);
    transition: all 1s linear;
}

/*Tabela*/
table {
    border-collapse: collapse;
    background-color: rgb(238, 238, 238);
    box-shadow: 5px 5px 15px rgb(100, 100, 100);
    margin-top: 20px;
}

/*Table heather(zaglavlje tabele)*/
th {
    background-color: rgb(170, 140, 246);
    color: rgb(255, 255, 255);
    padding: 12px;
}

/*Table cells*/
td {
    padding: 10px;

}

/* Row hover effect (efekat kada pređemo mišem preko reda) */
tr:hover {
    background-color: rgb(170, 140, 225);
}