body{
    background-color:rgb(131, 182, 241);
    text-align: center;
}

h1{
    color:rgb(5, 57, 117);
}
ul {
    border:2px dashed rgb(40, 130, 118);
     border-radius:15px ;
     padding: 10px;
     margin: 15px;
}

#word-container {
    margin: 20px 0;
}

#word-container button {
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f0f0f0;
}

#word-container button:hover {
    background-color: #d9f0ff;
}

#result {
    margin-top: 20px;
    text-align: center;
}